<!DOCTYPE html>
<html>
<head>
	<title>Create Class</title>
</head>
<body>
	<form action="/" method="POST">
	<table>
		<tr>
			<td>Nama kelas baru</td>
			<td><input type="text" name="class_name"></td>
		</tr>
		<tr>
			<td>Deskripsi</td>
			<td><input type="text" name="class_desc"></td>
		</tr>
		<tr>
			<td>Gambar</td>
			<td><input type="file" name="class_pict"></td>
		</tr>
			<td>Kelas</td>
			<td>
				<select name="kelas" id="">
					<option value="XII">12</option>
					<option value="XI">11</option>
					<option value="X">10</option>
				</select>
			</td>
		<tr>
			<td><input type="submit" name="addUser" value="Submit"></td>
		</tr>
	</table>
</form>
</body>
</html>