<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dart - Register</title>
</head>
<body>
    <form action="" method="post">
        <table border="1">
            <tr>
                <td>Username</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" id=""></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td>Jurusan</td>
                <td>
                    <select name="jurusan" id="">
                        <option value="RPL">Rekayasa Perangkat Lunak</option>
                        <option value="TKJ">Teknik Komputer Jaringan</option>
                        <option value="MMD">Multimedia</option>
                    </select>
                </td>
            </tr>   
            <tr>
                <td>Kelas</td>
                <td>
                    <select name="kelas" id="">
                        <option value="xii1">XII-1</option>
                        <option value="xii2">XII-2</option>
                        <option value="xii3">XII-3</option>
                        
                        <option value="xi1">XI-1</option>
                        <option value="xi2">XI-2</option>
                        <option value="xi3">XI-3</option>

                        <option value="x1">X-1</option>
                        <option value="x2">X-2</option>
                        <option value="x3">X-3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>